*{
    margin: 0; padding: 0;
}

html, body{
    width: max-content; height: max-content;
}
    html{
        background-color: black;
    }


img{
    image-rendering:crisp-edges;
    height: 68vh;
    margin-top: 15vh;
    position: sticky;
    top: 15vh;
    border: white 1vh solid;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#page_container,#progress_bar_box, #instructions{
    margin-left: 50vw; transform: translate(-50%,0);
}
    #instructions, #progress_bar_box{
        position: fixed;
    }
        #instructions{
            top: 6vh;
        }
            p{
                font-size: 1vw;
                color: white;
            }

    #progress_bar_box{
        background-color: white;
        height: 1vh; top: 7vh;
    }

    #page_container{
        display: flex;
        flex-direction: column;
        margin-bottom: 15vh;
    }



video{
    position: fixed; left: 0; top: -50px;
    image-rendering: crisp-edges;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0;
    mix-blend-mode:hard-light;
}


@media (orientation: portrait) {

    body,html{
        -webkit-overflow-overscroll: none;
    }

    body, #page_container{
        overscroll-behavior: none;  
    }

    #page_container{
        margin-left: 5vw; transform: none;
    }

        img{
            height: auto; width: 88vw;
            border: white 1vw solid;
            margin-top: 10vh; margin-bottom: 30vh;
            top: 10vh;

        }

        #instructions{
            top: 5vh;
        }
        #progress_bar_box{
            top: 6vh;
        }
        
            p{
                font-size: 4vw;
            }

    video{
        height: 150vh;
        margin-left: -130vw; margin-top: -20vh;
    }
  }